footer{
    position: relative;
    top: 60px;
    margin-top: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

footer h3{
    margin: 10px 0;
    font-size: 1.5em;
    font-weight: 500;
}

footer div{
    margin: 10px 0;
}

footer div span{
    margin: 0 10px;
}

footer div span ion-icon{
    font-size: 25px;
    cursor: pointer;
    padding: 7px;
    border-radius: 20px;
    background: #fff;
    color: #000;
}

footer div span #fb:hover{
    background: #4267B2;
    color: #fff;
}

footer div span #in:hover{
    background: #8a3ab9;
    color: #fff;
}

footer div span #li:hover{
    background: #0072b1;
    color: #fff;
}

footer div span #wa:hover{
    background: #075E54;
    color: #fff;
}

footer p{
    text-align: center;
    margin: 7px 200px;
}

@media (max-width:1200px){
    /* footer{
        background-image: url(images/cat_edited_1200px.jpg);
    } */

    footer p{
        margin: 7px 150px;
    }
}

@media (max-width:1000px){
    footer p{
        margin: 7px 100px;
    }
}

@media (max-width:720px){
    footer p{
        margin: 7px 20px;
        font-size: 14px;
    }
}