form{
    position: relative;
    top: 60px;
    /* margin: 50px 450px; */
    margin: 50px auto;
    width: 40%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

form h2{
    font-size: 1.5em;
    font-weight: 600;
}

form h4{
    font-size: 1em;
    font-weight: 400;
}

form #form_name{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
}

form #form_name #container_fname, 
form #form_name #container_lname{
    width: 46%;
}

form #form_name #container_fname input,
form #form_name #container_lname input{
    width: 100%;
}

form #form_others{
    width: 100%;
}

form #form_others #container_mobile_no,
form #form_others #container_email,
form #form_others #container_address,
form #form_others #container_board,
form #form_others #container_course,
form #form_others #container_help,
form #form_others #container_convenience,
form #form_others #container_submit,
form #form_others #container_travel{
    padding: 13px 0;
}

form label{
    font-size: 1.1em;
    font-weight: 500;
}

form #field_required{
    color: #ee0000;
    font-weight: 600;
    font-size: 1.2em;
}

form #form_others input{
    width: 100%;
}

form #form_others #container_address textarea{
    width: 100%;
    height: 80px;
    border: 1px solid #a5a6a8;
    padding: 5px;
}

form input{
    height: 30px;
    border: 1px solid #a5a6a8;
    padding: 0 5px;
}

form #form_others #container_convenience select{
    height: 30px;
    width: 100%;
    padding: 0 5px;
    border: 1px solid #a5a6a8;
}

form #form_others #container_submit{
    display: flex;
    justify-content: center;
    padding: 13px 0;
    margin-top: 20px;
}

form #form_others #container_submit button{
    width: 70px;
    height: 30px;
    border: 1px solid #a5a6a8;
    background: #fff;
    color: #000;
    cursor: pointer;
}

form #form_others #container_submit button:hover{
    background: #000;
    color: #fff;
}

form #form_others #container_submit button:active{
    background-color: #fff;
    color: #000;
}

@media (max-width:1200px){
    form{
        width: 50%;
    }
}

@media (max-width:970px){
    form{
        width: 60%;
    }
}

@media (max-width:750px){
    form{
        width: 70%;
    }
}

@media (max-width:650px){
    form{
        width: 80%;
    }
}

@media (max-width:550px){
    form{
        width: 90%;
    }
}