#works {
    position: relative;
    top: 60px;
    margin: 0 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

#works #how_we_works {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#works #how_we_works h4 {
    font-size: 2em;
    font-weight: 600;
    margin: 20px auto;
}

#works #how_we_works p {
    margin: 10px 0;
    text-align: center;
}

#works #procedure {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

#works #procedure div img {
    height: 150px;
    padding: 0 80px;
}

#works #procedure div h6 {
    display: flex;
    justify-content: center;
    font-size: 1.3em;
    padding: 5px 0;
}

@media (max-width:1250px) {
    #works #procedure div img {
        padding: 0 50px;
    }
}

@media (max-width:1050px) {
    #works #procedure div img {
        padding: 0 40px;
    }
}

@media (max-width:950px) {
    #works #procedure div img {
        height: 130px;
        padding: 0 35px;
    }
}

@media (max-width:850px) {
    #works {
        margin: 0 100px;
    }

    #works #procedure div img {
        height: 110px;
        padding: 0 30px;
    }
}

@media (max-width:750px) {
    #works {
        margin: 0 40px;
    }

    #works #procedure {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
    }

    #works #procedure div {
        width: 100%;
        padding: 20px 35px;
    }

    #works #procedure div img {
        height: 150px;
    }
}

@media (max-width:555px) {
    #works {
        margin: 0 25px;
    }

    #works #procedure div {
        width: 100%;
        padding: 20px 10px;
    }

    #works #procedure div img {
        height: 130px;
    }
}